@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

body,
html {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background: teal;
  color: white;
}

input {
  padding: 15px 200px 15px 20px;
  transition: all 0.4s ease-in;
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  background: teal;
  border: 1px solid #fff;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

input::placeholder {
  color: #ddd;
}

button {
  padding: 10px 30px 10px 30px;
  background-color: black;
  color: white;
  transition: all 0.2s ease-in;
  border: 3px solid teal;
  margin-right: 5px;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background: white;
  color: black;
}

.todo--add--container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo--items--container {
  display: flex;
  flex-wrap: wrap;
}

.todo--item {
  padding: 10px;
  background: black;
  width: fit-content;
  margin: 5px 5px;
  border-radius: 10px;
}

.todo--item button {
  padding: 5px 10px;
}

.todo--item svg {
  font-size: 15px;
}

.todo--item--status {
  border-radius: 10px;
  font-size: 12px;
  width: fit-content;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.todo--item--status.done {
  color: rgb(1, 189, 1);
}

.todo--item--status.not-done {
  color: teal;
}
